
/*********************************************************************************************/
/* Global Css		       																	 */
/*********************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 100px rgba(199, 199, 199, 0.3); 
}
 
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 100px rgba(15, 24, 20, 0.5); 
	-webkit-background-origin: border-box;
}

body {
	background-color: #ffffff;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
	text-rendering: optimizelegibility;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}

.container {
	overflow: hidden;
	scroll-behavior: smooth;
}
.container.blur{
  	filter: brightness(.2);
  	opacity: 1;
}

.width-container{
    display: flex;
    max-width: 1600px;
    margin: auto;
    justify-content: center;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
span{
    font-weight: 600;
	font-size: 20px;
	letter-spacing: 1px;
	color: #395E66;
}
p{
    font-size: 16px;
	line-height: 35px;
	font-weight: 100;
	letter-spacing: 1px;
}
h5{
	font-size: 1.5em;
}

a.btn{
    background: transparent;
    border: 3px solid #97d8c4;
    padding:18px 25px;
    display: flex;
	color: #97d8c4;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: all .3s linear;
}
a.btn span{
	color: #97d8c4;
    transition: all .3s linear;
}
a.btn:hover{
    background: #97d8c4;
}
a.btn:hover span{
    color: #fff;
}

@media(min-width:1200px){
	a.btn:hover{
		background: #97d8c4;
	}
	a.btn:hover span{
		color: #fff;
	}

}